<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DB_ViaticosConnectionString"
            connectionString="Data Source=viaticosuam.database.windows.net;Initial Catalog=DB_Viaticos;Persist Security Info=True;User ID=progra4;Password=Viaticos2018$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>