
h3{
   background:#cfcccc;

   
  }
h1{
   background:#cfcccc

  }

p{
    color:black;
      font-size:18px;
      font-style:oblique;
}
.txtFormulario {
background-color:#dcdcdc;
border-radius: 5px;
height:25px;
width: 250px;
}


